.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__content--form {
  padding: 28px 28px 36px;
  font-size: 16px;
}

.modal__title {
  margin: 0;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.modal__close-btn-image {
  object-fit: cover;
  display: block;
  width: 20px;
  height: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-top: 24px;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  padding: 8px 0;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__radio-btns {
  padding: 0;
  margin: 24px 0 32px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__radio-input {
  cursor: pointer;
}

.modal__label_type_radio {
  margin: 0;
  display: flex;
  gap: 8px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.modal__label_active,
.modal__input_active {
  opacity: 1;
}

.modal__submit-btn {
  color: #fff;
  line-height: 20px;
  background: #000;
  opacity: 0.3;
  border-radius: 4px;
  height: 36px;
  width: fit-content;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s ease;
}
.modal__submit-btn:hover {
  opacity: 0.6;
}
