.item-card {
  width: 325px;
  height: 328px;
  position: relative;
  overflow: hidden;
}

.item-card__title {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 2px 12px;
  border-radius: 4px;
  line-height: 24px;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
}

.item-card__img {
  object-fit: cover;
  object-position: right top;
  width: 100%;
  border-radius: 16px;
}
