.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 32px 40px 24px 40px;
}
