.footer {
  color: #000;
  margin-top: 171px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
  font-family: "Cabinet Grotesk Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
